.body{
    background-color: aqua;
}
.container1{
    display: flex;
    flex-flow:row wrap;
    position: relative;
    height:auto;
    width:100vw;
    margin:1vw;
}
.container1 #profile-image{
    display:block;
    width: 61vw;

}
.container1 h1{
    position:absolute;
    width:61vw;
    left:50vw;
    top:8vw;
    font-size:7vw;
    text-align: left;
    background-color: rgb(45, 146, 255);
    color:rgb(255, 240, 240);
    flex-wrap: wrap;
    padding:0vw 0vw 0vw 2vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.power-tag{
    position:absolute;
    width:100vw;
    left:62vw;
    top:29vw;
    color:rgb(255, 240, 240);
    font-style:italic;
    font-size:2.5vw;
}
.blurb{
    position:absolute;
    color:rgb(255, 240, 240);
    text-align: center;
    font-size:2.5vw;
    width:61vw;
    left:18vw;
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cominfo{
    position:absolute;
    top:60vw;
    width:18vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    color:rgb(255, 240, 240);
    font-size:1.5vw;
}
.cominfo > .comheader{
    padding:2vw 2vw 0vw 2.7vw;
    font-size:1.5vw;
}