.name{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
#profile-image{
    display: flex;
    justify-content: flex-start;
}
h1{
    justify-content: flex-end;
    align-items: center;
}